div[data-role="page"] {
	background-image: url("../resources/gplaypattern/gplaypattern.png");
}

body * {
	font-weight: 300 !important;
	text-shadow: none !important;
}

body, .ui-btn {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

#menu-btn {
	margin-top: 5px;
}

div[data-role="panel"] {
	background-image: url("../resources/gplaypattern/gplaypattern.png");
}

div[data-role="header"] {
	font-size: 18px;
}

div[data-role="main"] {
	width: 100%;
	padding: 0;
}

#header-img {
	width: 100%;
	z-index: -1;
}

.ui-btn {
	padding-top: 15px;
	font-size: 16px;
}

section {
	background-color: rgba(0, 107, 107, 0.4);
	margin-top: 10px;
	margin-bottom: 15px;
}

section > h1 {
	font-size: 28px;
	font-weight: 400 !important;
	margin: 10px 0 0 15px;
}

legend {
	background-color: rgba(0, 107, 107, 0.8);
	font-size: 20px;
	text-align: center;
	padding: 10px;
	color: white;
}

article {
	margin-left: 5px;
	padding: 10px;
	font-family: 'Lora', sans-serif;
	font-size: 18px;
	color: white;
}

#contact-form {
	padding: 0 10px 10px 10px;
}

label {
	padding-top: 15px;
	padding-left: 5px;
	font-size: 18px !important;
	font-weight: 400 !important;
}

#contact-submit-div {
	padding-top: 10px;
	text-align: right;
}

.image {
	width: 100%;
	z-index: 100;
}

#resume-img {
	margin-top: 15px;
	width: 200px;
	border-radius: 20px;
}

#contact-icon-set, #resume-top {
	text-align: center;
}

.contact-icon {
	padding: 10px;
	width: 40px;
}

li[data-role="list-divider"] {
	font-weight: 400 !important;
	font-size: 16px !important;
}

ul[data-role="listview"] > li, li, .caption {
	white-space: normal !important;
}

.caption {
	font-size: 14px !important;
	font-weight: 400 !important;
}

p {
	font-size: 14px !important;
}

#photo-grid {
	text-align: center;
}

.portfolio-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.portfolio-list > li {
	margin-bottom: 15px;
	padding-top: 10px;
	border-top: 1px solid rgba(0, 107, 107, 0.8);
}

.portfolio-title {
	font-size: 30px !important;
}

.portfolio-specs {
	font-weight: 300 !important;
	font-size: 24px !important;
}